@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;

  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
h2,
h3,
h4,
h5,
h6 {
  @apply text-blue-800;
}

.control-panel {
  @apply absolute top-0 right-0 mr-5 mt-5 min-w-80 px-4 py-2 bg-slate-200/80 rounded-lg text-black font-medium;

  #control-speed {
    @apply flex place-content-center gap-2 w-full;

    input[type="range"] {
      @apply accent-slate-200 w-44;
    }
  }
}
